{% extends './layout.html' %}
{% block title %} 添加图书 {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="/styles/add.css">
{% endblock  %}
{% block content %}
    <h1>[[ title ]]</h1>
    <hr/>
    <div id="app-2">
        <h2> {{ message }}</h2>
        <input v-model="message" />
    </div>
{% endblock %}
{% block scripts %}
    <script type="nomodule">
        console.log('我支持模块化😆')
        import("/scripts/add.js").then((_) => {
            console.log(_.default);
            const create = new _.default;
            create.fn();
        })
    </script>
    <script type="module" src="https://cdn.bootcss.com/systemjs/3.1.2/system.js"></script>
    <script type="module">
        System.import("/scripts/add-bundle.js").then(_ => {
            const create = new _.default;
            create.fn();
        })
    </script>
{% endblock  %}